@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto:wght@400&display=swap');
*{
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
}
input{
    height:40px;
    border: 1px solid #968bc4;
    border-radius: 5px;
    padding-left: 20px;
}
input:focus{
   outline: none;
   border: 1.5px solid #3e2f83;
}
.contain-btn{
  background-color: #3e2f83;
  color: white;
  height: 40px;
  padding: 5px 20px;
  border-radius: 5px;
text-transform: uppercase;
}
.outline-btn {
    border: 1px solid #3e2f83;
    color: #3e2f83;
    height: 40px;
    padding: 10px 20px;
    text-transform: uppercase;
    }